extends partials/header

block content
  // Begin page content
  main.container(role='main')
    h1.mt-5 Express on Netlify
    p.lead Welcome to Express on Netlify.
    p
      | Visit 
      a(href='/page1') Page 1
      |  for a dynamic web experience.

  include partials/footer
    